@mixin default-border {
  border: 5px solid blue;
}

@mixin custom-border ($width, $color, $isSolid: true) {
  @if isSolid {
    border: $width solid $color;
  } @else {
    border: $width dashed $color;
  }
}